body{
    background-color: hsl(212, 45%, 89%);
}
main{
    background-color: hsl(0, 0%, 100%);
    width: 350px;
    height: 480px;
    margin: 120 auto;
    border-radius: 20px;
    padding-top: 15px;
}
main img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    border-radius: 15px;
}
main h2{
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-family: 'Outfit', sans-serif;
    color: #181818;
    line-height: 5px;
    margin-top: 28px;
}
main p{
    text-align: center;
    margin: 0;
    color: darkslategrey;
    font-size: 16px;
}